{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
      },
      "globals": {
          "log":true
      },
      "rules":{
        "max-len": ["error",120, {"ignoreComments": true}],
        "no-param-reassign": "off",
        "no-console": "off"
     }

}